@page
@model AuthServer.Pages.Account.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="z-20 mx-0 sm:w-128 sm:mx-auto sm:mt-16 sm:bg-white text-gray-700 sm:shadow-lg h-screen sm:h-full sm:rounded-lg justify-center">
    <!-- MainContainer -->
    <div class="p-12">
        <img class="h-5" src="~/dotnet/images/devchallenges.svg" alt="Logo" />
        <!-- MainContent -->
        <div class="mt-4 flex flex-col items-center">
            <h4 class="text-left text-lg font-semibold pr-4">Join thousands of learners from around the world</h4>
            <p class="text-left text-base pr-4 mt-4">Master web development by making real-life projects. There are multiple paths for you to choose</p>
            <!-- FormContainer -->
            <div class="w-full flex-1 mt-8">
                <form class="mx-auto" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <span class="flex items-center px-3 rounded-lg h-12 border focus-within:border-blue-400">
                        <svg class="fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z" />
                        </svg>
                        <input asp-for="Input.Email" class="placeholder-gray-500 p-2 w-full focus:outline-none bg-transparent" placeholder="Email" required />
                    </span>
                    <span asp-validation-for="Input.Email" class="text-red-500 font-light text-xs"></span>
                    <span class="flex items-center px-3 rounded-lg h-12 border focus-within:border-blue-400 mt-2">
                        <svg class="fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
                            <path d="M0 0h24v24H0z" fill="none" />
                            <path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z" />
                        </svg>
                        <input asp-for="Input.Password" class="placeholder-gray-500 p-2 w-full focus:outline-none bg-transparent" type="password" placeholder="Password" required />
                    </span>
                    <span asp-validation-for="Input.Password" class="text-red-500 font-light text-xs"></span>

                    <div asp-validation-summary="ModelOnly" class="text-red-500 font-light text-xs"></div>
                    <button class="mt-5 tracking-wide font-semibold bg-blue-500 text-gray-100 w-full py-4 rounded-lg hover:bg-primary-900 transition-all duration-300 ease-in-out flex items-center justify-center focus:shadow-outline focus:outline-none"
                            type="submit">
                        Start coding now
                    </button>
                </form>
                <p class="text-sm text-center mt-8 text-gray-600">or continue with these social profile</p>
                <!-- Social logins -->
                <div class="flex justify-center my-4">
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                                    <svg class="mx-2" width="43" height="43" viewBox="0 0 43 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="21.6614" cy="21.5981" r="20.5" stroke="#828282" />
                                        <g clip-path="url(#clip0)">
                                            <path d="M22.2855 13.4419C17.3422 13.4419 13.2855 17.4986 13.2855 22.4419C13.2855 26.6602 16.2455 30.4921 20.1761 31.4419V28.4643C19.7867 28.5496 19.4283 28.5521 19.0318 28.4352C18.4999 28.2782 18.0677 27.9239 17.7469 27.3837C17.5424 27.0387 17.18 26.6646 16.802 26.6921L16.7093 25.6415C17.5268 25.5715 18.234 26.1396 18.6539 26.8449C18.8403 27.1586 19.055 27.3425 19.3305 27.4238C19.5968 27.5022 19.8827 27.4646 20.2158 27.3469C20.2995 26.6799 20.605 26.4302 20.8359 26.0786V26.0781C18.4917 25.7285 17.5574 24.4848 17.1866 23.5032C16.6953 22.1998 16.9589 20.5715 17.8278 19.5425C17.8447 19.5224 17.8752 19.47 17.8634 19.4333C17.465 18.2299 17.9505 17.2344 17.9683 17.1288C18.4281 17.2647 18.5028 16.992 19.9655 17.8806L20.2183 18.0325C20.3241 18.0956 20.2908 18.0596 20.3966 18.0516C21.0073 17.8857 21.6511 17.7941 22.2854 17.7859C22.9245 17.7941 23.5642 17.8857 24.2002 18.0583L24.282 18.0666C24.2749 18.0655 24.3043 18.0614 24.3536 18.032C26.1807 16.9252 26.1151 17.287 26.6051 17.1277C26.6228 17.2334 27.1018 18.2451 26.7077 19.4333C26.6545 19.597 28.2917 21.0962 27.3843 23.5028C27.0135 24.4848 26.0794 25.7285 23.7352 26.0781V26.0786C24.0356 26.5366 24.3967 26.7803 24.3948 27.7251V31.4419C28.3255 30.4921 31.2854 26.6602 31.2854 22.4419C31.2855 17.4986 27.2288 13.4419 22.2855 13.4419V13.4419Z"
                                                  fill="#828282" />
                                        </g>
                                        <defs>
                                            <clipPath id="clip0">
                                                <rect width="18" height="18" fill="white" transform="translate(13.2855 13.4419)" />
                                            </clipPath>
                                        </defs>
                                    </svg>
                                </button>
                                }
                            </p>
                        </div>
                    </form>



                </div>
                <p class="text-sm text-center text-gray-600">Already a member? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl" class="text-blue-500"> Login </a></p>
            </div>
        </div>
    </div>
</div>
<div class="inline-block z-10 mx-0 sm:mx-auto sm:w-128 bg-transparent text-sm text-gray-600 font-light -mt-8 sm:mt-2 flex justify-between px-4 ">
    <span>poports</span>
    <span>devchallenges.io</span>
</div>